
/*Document Fonts*/
@font-face {font-family: "Dubtronic"; src: url("Dubtronic-Solid.otf");}
@font-face {font-family: "Abel"; src: url("abel-regular.ttf");}
@font-face {font-family: "Archivo Black"; src: url("ArchivoBlack.otf");}

/*Changes to styling below will affect all elements across device widths*/
body{
    margin: 0px;
    background-color: rgb(189, 174, 115);
    font-family: "Abel";
    cursor: url("cursor.png"), auto;
}

@media screen and (max-width: 550px) {
    /*Styling for nav bar and elements within*/
    nav{width: 95%;}
    .title{margin-left: 20px; font-size: 1.3rem; font-family: "Archivo Black";}
    .menu-button{height: 50px; width: 150px; font-size: 1.3rem; font-family: "Archivo Black";}

    .hero{width: 95%; padding-bottom: 20px;}
    .huge-text{margin: 10px auto; text-align: center; font-size: 5rem; /*letter-spacing: 20px; transform: scaleY(5);*/}
    .nav-menu{height: 70px; width: 100%; margin: 10px auto; font-size: 3rem; letter-spacing: 10px;}
    .nav-menu button{height: 40px; width: 100px; font-size: 1.3rem;}

    /*Main area*/
    .main-area{width: 95%; margin: 10px auto 50px; padding: 0px 0px 50px;}
    .topic{width: 95%; margin: 0px auto; padding-bottom: 50px;}
    .topic-left{width: 95%; margin: 10px auto; font-size: 1.3rem;}
    .topic-images{width: 95%; margin: 30px auto;}
    .topic-images img{height: 170px; width: 45%; margin: 5px; object-fit: cover;}
    .topic-right{width: 95%; margin: 10px auto; font-size: 1rem;}


    .drop-down-menu button{width: 100%; margin: 20px auto; font-size: 9rem;}


}

@media screen and (min-width: 1050px) and (max-width: 1600px) {
    /*Styling for nav bar and elements within*/
    nav{width: 95%;}
    .title{margin-left: 20px; font-size: 2rem; font-family: "Archivo Black";}
    .menu-button{height: 50px; width: 150px; font-size: 2rem; font-family: "Archivo Black";}

    .hero{width: 95%; padding-bottom: 20px;}
    .huge-text{margin: 10px auto; text-align: center; font-size: 15rem; /*letter-spacing: 20px; transform: scaleY(5);*/}
    .nav-menu{height: 70px; width: 100%; margin: 10px auto; font-size: 3rem; letter-spacing: 10px;}
    .nav-menu button{height: 40px; width: 200px; font-size: 1.5rem;}

    /*Main area*/
    .main-area{width: 95%; margin: 50px auto; padding: 50px 0px;}
    .topic{width: 95%; margin: 0px auto; padding-bottom: 50px;}
    .topic-left{width: 35%; font-size: 2rem;}
    .topic-images{width: 95%; margin: 100px auto;}
    .topic-images img{height: 170px; width: 170px; margin: 5px; object-fit: cover;}
    .topic-right{width: 60%; font-size: 1.5rem;}


    .drop-down-menu button{width: 100%; margin: 20px auto; font-size: 9rem;}


}

/*Scrollbar styling*/
body::-webkit-scrollbar {width: 15px; cursor: url("Images/hand-cursor.png"), auto;}
body::-webkit-scrollbar-track {background: none;}
body::-webkit-scrollbar-thumb {background: rgb(40, 40, 40); border-radius: 15px; border: none;}
body::-webkit-scrollbar-thumb:hover {background: rgb(40, 40, 40); border: none;}


/*Styling for nav bar and elements within*/
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px auto;
    border-bottom: 1px solid black;
}
.menu-button{
    border: none;
    background-color: transparent;
}
.menu-button:hover{
    background-color: black;
    color: white;
    transition: .5s;
    cursor: url("hand-cursor.png"), auto;
}

/*Styling for hero section and elements within*/
.hero{
    margin: 20px auto;
}
.huge-text{
    font-family: "Dubtronic";
}
.nav-menu{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: black;
    color: white;
}
.nav-menu button{
    background-color: transparent;
    border: none;
    color: white;
}
.nav-menu button:hover{
    cursor: url("hand-cursor.png"), auto;
}

/*Main area*/
.main-area{
    background-color: white;
}
.topic{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 1px solid black;
}
.topic-left{
    font-family: "Archivo Black";
}
.topic-images{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}




/*Drop Down Menu*/
.drop-down-menu{
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: black;
    display: none;
}
.drop-down-menu button{
    background-color: transparent;
    border: none;
    color: rgb(189, 174, 115);
    font-family: "Dubtronic";
}

.drop-down-menu button:hover{
    color: white;
    cursor: url("right-arrow.png"), auto;
}




