
/*Document Fonts*/
@font-face {font-family: "Dubtronic"; src: url("Dubtronic-Solid.otf");}
@font-face {font-family: "Karatula"; src: url("KARAI___.ttf");}
@font-face {font-family: "Qarmic Sans"; src: url("Qarmic_sans_Abridged.ttf");}
@font-face {font-family: "Sniglet"; src: url("Sniglet-ExtraBold.otf");}

@media screen and (max-width: 450px) {
    /*Styling for nav bar and elements within*/
    nav{width: 95%;}
    .title{margin-left: 20px; font-size: 1.3rem; font-family: "Karatula";}
    .menu-button{height: 50px; width: 100px; font-size: 1.3rem; font-family: "Karatula";}

    /*Styling for hero section and elements within*/
    .hero{width: 95%; padding-bottom: 20px;}
    .sub-text{height: 70px; width: 100%; margin: 10px auto;}
    .hero-img{margin: 10px auto; height: 70vh; width: 100%;}

    /*Styling for blurb and history sections and the elements within*/
    .blurb, .history{width: 95%; margin: 10px auto; padding-bottom: 20px;}
    .blurb-heading{width: 50%; font-size: 2rem; font-family: "Karatula";}
    .blurb hr{height: 250px; width: 1px; margin: 0px 10px; background-color: black; border: none;}
    .blurb-paragraph{width: 40%; font-size: 1rem;}

    /*Styling for section cards and the elements within*/
    .section-cards{width: 95%; margin: 50px auto; padding-bottom: 50px;}
    .section-card{height: 500px; width: 95%; margin: 10px auto;}
    .pop-up{height: 150px; width: 90%; margin: 0px auto; padding: 10px; position: relative; top: 380px;}
    .pop-up h2{font-size: 3rem; font-family: "Karatula";}
    .pop-up p{font-size: 1rem;}
    .section-card:hover .pop-up{top: 320px; cursor: url("right-arrow.png"), auto; transition: .5s; background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5) );}

    /*Styling for history images*/
    .history-heading{width: 95%; font-size: 2rem; font-family: "Karatula";}
    .history-paragraph{width: 95%; font-size: 1rem;}
    .history-images{width: 95%; margin: 50px auto;}
    .history-images img{height: 200px; width: 100%; margin: 5px; object-fit: cover;}

    /*Styling for event board and child elements*/
    .event-board{width: 95%; margin: 50px auto; padding: 20px 0px;}
    .event-board-heading{width: 95%; margin: 10px auto; font-size: 2rem; font-family: "Karatula";}
    .board{height: 80vh; width: 95%; margin: 10px auto; background-color: white;}

    /*Styling for gallery section*/
    .gallery{width: 95%; margin: 50px auto; padding: 50px 0px;}
    .gallery-heading{width: 30%; font-size: 2rem; font-family: "Karatula";}
    .display{width: 100%;}
    .display img{height: 250px; width: 45%; margin: 5px; object-fit: cover;}

    .drop-down-menu button{width: 100%; margin: 20px auto; font-size: 4rem;}


}

@media screen and (min-width: 451px) and (max-width: 600px) {
    /*Styling for nav bar and elements within*/
    nav{width: 95%;}
    .title{margin-left: 20px; font-size: 1.3rem; font-family: "Karatula";}
    .menu-button{height: 50px; width: 150px; font-size: 1.3rem; font-family: "Karatula";}

    /*Styling for hero section and elements within*/
    .hero{width: 95%; padding-bottom: 20px;}
    .sub-text{height: 70px; width: 100%; margin: 10px auto;}
    .hero-img{margin: 10px auto; height: 70vh; width: 100%;}

    /*Styling for blurb and history sections and the elements within*/
    .blurb, .history{width: 95%; margin: 10px auto; padding-bottom: 20px;}
    .blurb-heading{width: 50%; font-size: 2rem; font-family: "Karatula";}
    .blurb hr{height: 250px; width: 1px; margin: 0px 10px; background-color: black; border: none;}
    .blurb-paragraph{width: 40%; font-size: 1rem;}

    /*Styling for section cards and the elements within*/
    .section-cards{width: 95%; margin: 50px auto; padding-bottom: 50px;}
    .section-card{height: 500px; width: 95%; margin: 10px auto;}
    .pop-up{height: 150px; width: 90%; margin: 0px auto; padding: 10px; position: relative; top: 380px;}
    .pop-up h2{font-size: 3rem; font-family: "Karatula";}
    .pop-up p{font-size: 1rem;}
    .section-card:hover .pop-up{top: 320px; cursor: url("right-arrow.png"), auto; transition: .5s; background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5) );}

    /*Styling for history images*/
    .history-heading{width: 95%; font-size: 2rem; font-family: "Karatula";}
    .history-paragraph{width: 95%; font-size: 1rem;}
    .history-images{width: 95%; margin: 50px auto;}
    .history-images img{height: 200px; width: 100%; margin: 5px; object-fit: cover;}

    /*Styling for event board and child elements*/
    .event-board{width: 95%; margin: 50px auto; padding: 20px 0px;}
    .event-board-heading{width: 95%; margin: 10px auto; font-size: 2rem; font-family: "Karatula";}
    .board{height: 80vh; width: 95%; margin: 10px auto; background-color: white;}

    /*Styling for gallery section*/
    .gallery{width: 95%; margin: 50px auto; padding: 50px 0px;}
    .gallery-heading{width: 30%; font-size: 2rem; font-family: "Karatula";}
    .display{width: 100%;}
    .display img{height: 250px; width: 45%; margin: 5px; object-fit: cover;}

    .drop-down-menu button{width: 100%; margin: 20px auto; font-size: 4rem;}


}

@media screen and (min-width: 601px) and (max-width: 799px) {
    /*Styling for nav bar and elements within*/
    nav{width: 95%;}
    .title{margin-left: 20px; font-size: 1.3rem; font-family: "Karatula";}
    .menu-button{height: 50px; width: 150px; font-size: 1.3rem; font-family: "Karatula";}

    /*Styling for hero section and elements within*/
    .hero{width: 95%; padding-bottom: 20px;}
    .sub-text{height: 70px; width: 100%; margin: 10px auto;}
    .hero-img{margin: 10px auto; height: 70vh; width: 100%;}

    /*Styling for blurb and history sections and the elements within*/
    .blurb, .history{width: 95%; margin: 10px auto; padding-bottom: 20px;}
    .blurb-heading{width: 50%; font-size: 2rem; font-family: "Karatula";}
    .blurb hr{height: 250px; width: 1px; margin: 0px 10px; background-color: black; border: none;}
    .blurb-paragraph{width: 40%; font-size: 1rem;}

    /*Styling for section cards and the elements within*/
    .section-cards{width: 95%; margin: 50px auto; padding-bottom: 50px;}
    .section-card{height: 500px; width: 95%; margin: 10px auto;}
    .pop-up{height: 150px; width: 90%; margin: 0px auto; padding: 10px; position: relative; top: 380px;}
    .pop-up h2{font-size: 3rem; font-family: "Karatula";}
    .pop-up p{font-size: 1rem;}
    .section-card:hover .pop-up{top: 320px; cursor: url("right-arrow.png"), auto; transition: .5s; background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5) );}

    /*Styling for history images*/
    .history-heading{width: 95%; font-size: 2rem; font-family: "Karatula";}
    .history-paragraph{width: 95%; font-size: 1rem;}
    .history-images{width: 95%; margin: 50px auto;}
    .history-images img{height: 200px; width: 200px; margin: 5px; object-fit: cover;}

    /*Styling for event board and child elements*/
    .event-board{width: 95%; margin: 50px auto; padding: 20px 0px;}
    .event-board-heading{width: 95%; margin: 10px auto; font-size: 2rem; font-family: "Karatula";}
    .board{height: 80vh; width: 95%; margin: 10px auto; background-color: white;}

    /*Styling for gallery section*/
    .gallery{width: 95%; margin: 50px auto; padding: 50px 0px;}
    .gallery-heading{width: 30%; font-size: 2rem; font-family: "Karatula";}
    .display{width: 100%;}
    .display img{height: 250px; width: 45%; margin: 5px; object-fit: cover;}

    .drop-down-menu button{width: 100%; margin: 20px auto; font-size: 4rem;}


}

@media screen and (min-width: 800px) and (max-width: 1149px) {
    /*Styling for nav bar and elements within*/
    nav{width: 95%;}
    .title{margin-left: 20px; font-size: 2rem; font-family: "Karatula";}
    .menu-button{height: 50px; width: 150px; font-size: 2rem; font-family: "Karatula";}

    /*Styling for hero section and elements within*/
    .hero{width: 95%; padding-bottom: 20px;}
    .sub-text{height: 70px; width: 100%; margin: 10px auto;}
    .hero-img{margin: 10px auto; height: 100vh; width: 100%;}

    /*Styling for blurb and history sections and the elements within*/
    .blurb, .history{width: 95%; margin: 10px auto; padding-bottom: 20px;}
    .blurb-heading, .history-heading{width: 50%; font-size: 3.5rem; font-family: "Karatula";}
    .blurb hr{height: 250px; width: 1px; margin: 0px 10px; background-color: black; border: none;}
    .blurb-paragraph, .history-paragraph{width: 40%; font-size: 1.5rem;}

    /*Styling for section cards and the elements within*/
    .section-cards{width: 95%; margin: 50px auto; padding-bottom: 50px;}
    .section-card{height: 500px; width: 32%;}
    .pop-up{height: 160px; width: 90%; margin: 0px auto; padding: 10px; position: relative; top: 380px;}
    .pop-up h2{font-size: 3rem; font-family: "Karatula";}
    .pop-up p{font-size: 1.5rem;}
    .section-card:hover .pop-up{top: 310px; cursor: url("right-arrow.png"), auto; transition: .5s; background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5) );}

    /*Styling for history images*/
    .history-images{width: 95%; margin: 50px auto;}
    .history-images img{height: 200px; width: 250px; margin: 5px; object-fit: cover;}

    /*Styling for event board and child elements*/
    .event-board{width: 95%; margin: 50px auto; padding: 20px 0px;}
    .event-board-heading{width: 25%; font-size: 3.5rem; font-family: "Karatula";}
    .board{height: 80vh; width: 70%; background-color: white;}

    /*Styling for gallery section*/
    .gallery{width: 95%; margin: 50px auto; padding: 50px 0px;}
    .gallery-heading{width: 30%; font-size: 3.5rem; font-family: "Karatula";}
    .display{width: 100%;}
    .display img{height: 350px; width: 23%; margin: 5px; object-fit: cover;}

    .drop-down-menu button{width: 100%; margin: 20px auto; font-size: 8rem;}


}

@media screen and (min-width: 1150px) {
    /*Styling for nav bar and elements within*/
    nav{width: 95%;}
    .title{margin-left: 20px; font-size: 2rem; font-family: "Karatula";}
    .menu-button{height: 50px; width: 150px; font-size: 2rem; font-family: "Karatula";}

    /*Styling for hero section and elements within*/
    .hero{width: 95%; padding-bottom: 20px;}
    .sub-text{height: 70px; width: 100%; margin: 10px auto;}
    .hero-img{margin: 10px auto; height: 100vh; width: 100%;}

    /*Styling for blurb and history sections and the elements within*/
    .blurb, .history{width: 95%; margin: 10px auto; padding-bottom: 20px;}
    .blurb-heading, .history-heading{width: 50%; font-size: 4rem; font-family: "Karatula";}
    .blurb hr{height: 250px; width: 1px; margin: 0px 10px; background-color: black; border: none;}
    .blurb-paragraph, .history-paragraph{width: 40%; font-size: 1.5rem; color: white;}

    /*Styling for section cards and the elements within*/
    .section-cards{width: 95%; margin: 50px auto; padding-top: 50px; padding-bottom: 50px;}
    .section-card{height: 500px; width: 32%;}
    .pop-up{height: 150px; width: 90%; margin: 0px auto; padding: 10px; position: relative; top: 380px;}
    .pop-up h2{font-size: 3rem; font-family: "Karatula";}
    .pop-up p{font-size: 1.5rem;}
    .section-card:hover .pop-up{top: 320px; cursor: url("right-arrow.png"), auto; transition: .5s; background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5) );}

    /*Styling for history images*/
    .history-images{width: 95%; margin: 50px auto;}
    .history-images img{height: 200px; width: 250px; margin: 5px; object-fit: cover;}

    /*Styling for event board and child elements*/
    .event-board{width: 95%; margin: 50px auto; padding: 20px 0px;}
    .event-board-heading{width: 30%; font-size: 4rem; font-family: "Karatula";}
    .board{height: 80vh; width: 65%; background-color: white;}

    /*Styling for gallery section*/
    .gallery{width: 95%; margin: 50px auto; padding: 50px 0px;}
    .gallery-heading{width: 30%; margin-left: 50px; font-size: 4rem; font-family: "Karatula"; color: white;}
    .display{width: 95%; margin: 0px auto;}
    .display img{height: 350px; width: 23%; margin: 5px; object-fit: cover;}

    .drop-down-menu button{width: 100%; margin: 20px auto; font-size: 9rem;}


}

/*Changes to styling below will affect all elements across device widths*/
body{
    margin: 0px;
    background-color: rgb(180, 68, 34);
    font-family: "Qarmic Sans";
    cursor: url("cursor.png"), auto;
}

/*Scrollbar styling*/
body::-webkit-scrollbar {width: 15px; cursor: url("Images/hand-cursor.png"), auto;}
body::-webkit-scrollbar-track {background: none;}
body::-webkit-scrollbar-thumb {background: rgb(40, 40, 40); border-radius: 15px; border: none;}
body::-webkit-scrollbar-thumb:hover {background: rgb(40, 40, 40); border: none;}


/*Styling for nav bar and elements within*/
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px auto;
    border-bottom: 1px solid black;
}
.title{
    font-family: "Karatula";
}
.menu-button{
    border: none;
    background-color: transparent;
    font-family: "Karatula";
}
.menu-button:hover{
    background-color: black;
    color: white;
    transition: .5s;
    cursor: url("hand-cursor.png"), auto;
}

/*Styling for hero section and elements within*/
.hero{
    margin: 20px auto;
    border-bottom: 1px solid black;
}
.huge-text{
    /*font-family: "Dubtronic";*/
    font-family: "Sniglet";
    color: rgb(12, 62, 92);
}
@media  screen and (max-width: 370px) {
    .huge-text{margin: 10px auto; text-align: center; font-size: 3.5rem; /*letter-spacing: 20px; transform: scaleY(5);*/}
}
@media screen and (min-width: 371px) and (max-width: 450px) {
    .huge-text{margin: 10px auto; text-align: center; font-size: 4.5rem; /*letter-spacing: 20px; transform: scaleY(5);*/}
}
@media screen and (min-width: 451px) and (max-width: 600px) {
    .huge-text{margin: 10px auto; text-align: center; font-size: 7rem; /*letter-spacing: 20px; transform: scaleY(5);*/}
}
@media screen and (min-width: 601px) and (max-width: 799px) {
    .huge-text{margin: 10px auto; text-align: center; font-size: 10rem; /*letter-spacing: 20px; transform: scaleY(5);*/}
}
@media screen and (min-width: 800px) and (max-width: 999px) {
    .huge-text{margin: 10px auto; text-align: center; font-size: 10rem;}
}
@media screen and (min-width: 1000px) and (max-width: 1150px) {
    .huge-text{margin: 10px auto; text-align: center; font-size: 13rem;}
}
@media screen and (min-width: 1151px) and (max-width: 1300px) {
    .huge-text{margin: 10px auto; text-align: center; font-size: 15rem;}
}
@media screen and (min-width: 1301px) and (max-width: 1450px) {
    .huge-text{margin: 10px auto; text-align: center; font-size: 17rem;}
}
@media screen and (min-width: 1451px) {
    .huge-text{margin: 10px auto; text-align: center; font-size: 19rem;}
}
.sub-text{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    font-family: "Karatula";
}
@media  screen and (max-width: 375px) {
    .sub-text{ font-size: 0.7rem; letter-spacing: 5px;}
}
@media screen and (min-width: 376px) and (max-width: 450px) {
    .sub-text{ font-size: 1rem; letter-spacing: 5px;}
}
@media screen and (min-width: 451px) and (max-width: 600px) {
    .sub-text{ font-size: 1.3rem; letter-spacing: 5px;}
}
@media screen and (min-width: 601px) and (max-width: 799px) {
    .sub-text{ font-size: 2rem; letter-spacing: 5px;}
}
@media screen and (min-width: 800px) and (max-width: 999px) {
    .sub-text{ font-size: 2.3rem; letter-spacing: 5px;}
}
@media screen and (min-width: 1000px) and (max-width: 1150px) {
    .sub-text{ font-size: 2.5rem; letter-spacing: 5px;}
}
@media screen and (min-width: 1151px) and (max-width: 1300px) {
    .sub-text{ font-size: 3rem; letter-spacing: 10px;}
}
@media screen and (min-width: 1301px) and (max-width: 1450px) {
    .sub-text{ font-size: 3.3rem; letter-spacing: 5px;}
}
@media screen and (min-width: 1451px) {
    .sub-text{ font-size: 4rem; letter-spacing: 5px;}
}
.hero-img{
    object-fit: cover;
}

/*Styling for blurb and history sections and the elements within*/
.blurb, .history{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-bottom: 1px solid black;
}
.blurb-heading, .history-heading {
    color: rgb(12, 62, 92);
    font-family: "Karatula";
}

/*Styling for section cards and the elements within*/
.section-cards{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    background-color: black;
    border-bottom: 1px solid black;
}
.section-card{
    background-position: center;
    background-attachment: local;
    background-size: cover;
    overflow: hidden;
}
.card-1{background-image: url("placeholder.png");}
.card-2{background-image: url("placeholder.png");}
.card-3{background-image: url("placeholder.png");}
.pop-up h2{
    font-family: "Karatula";
}

/*Styling for history images*/
.history-images{
    display: flex;
    flex-wrap: wrap;
}

/*Styling for event board and child elements*/
.event-board{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgb(12, 62, 92);
    color: white;
}

/*Styling for gallery section*/
.gallery{
    width: 100%;
    border-bottom: 1px solid black;
}
.display{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

/*Footer styling*/
footer{
    width: 100%;
}
.bold-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(12, 62, 92);
    color: white;
    font-family: "Karatula";
}
@media screen and (min-width: 1301px) and (max-width: 1450px) {
    .bold-footer{width: 93%; margin: 10px auto; padding: 20px 10px; font-size: 5rem;}
    .bold-footer h1{margin: 0px;}

    .links{margin: 50px; font-size: 1.5rem; color: white;}
}

/*Drop Down Menu*/
.drop-down-menu{
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(180, 68, 34);
    display: none;
}
.drop-down-menu button{
    background-color: transparent;
    border: none;
    color: black;
    font-family: "Karatula";
}

.drop-down-menu button:hover{
    color: white;
    cursor: url("right-arrow.png"), auto;
}
